footer {
    background: #2F303A;
    display: flex;
}

/* footer first container*/
.footer_first--container {
    padding: 60px 0 60px 0;
}
  
.container_image {
    margin: 0 0 20px 215px;
    cursor: pointer;
}
  
.address {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 215px;
}
  
.email a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    margin-left: 215px;
}
  
.phone a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    margin-left: 215px;
}

/* footer second container */
.footer_second--container {

}

.title5 {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_icons {
    fill: #FFFFFF;
}