@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./Css/reset.css);
@import url(./Css/header.css);
@import url(./Css/footer.css);
@import url(./Css/modal.css);

/* HOMEPAGE */

/* main first section */
.main_first--section {
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.main_first--title {
  margin-bottom: 30px;
  max-width: 696px;
  padding-top: 200px;
  color: white;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.main_first-btn--wrapper {
  padding-bottom: 200px;
}

.main_first--button {
  width: 216px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  transition: 0.3s;
}

.main_first--button:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #3377b0;
  font-size: 19px;
}

/* main second section */
.main_second--section {
  margin-top: 94px;
}

.main_second--section .main_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.main_second-cards--wrapper {
  margin-bottom: 118px;
}

.main_second--card:nth-child(1)::before {
  content: "";
  background-image: url(./images/Group.png);
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 55px;
}

.main_second--card:nth-child(2)::before {
  content: "";
  background-image: url(./images/clock\ 1.png);
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 55px;
}

.main_second--card:nth-child(3)::before {
  content: "";
  background-image: url(./images/diagram\ 1.png);
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 55px;
}

.main_second--card:nth-child(4)::before {
  content: "";
  background-image: url(./images/astronaut\ 1.png);
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 55px;
}

.main_second--title {
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: #212121;
}

.main_second--text {
  max-width: 270px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

/* main third section */
.main_third--section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.main_third--title {
  margin-bottom: 50px;
  color: #212121;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* img card */
.main_third--section--card {
  position: relative;
}

.main_third--cardtext {
  display: flex;
  position: absolute;
  bottom: 0; 
  width: 100%;
  align-items: center;
  justify-content: center; 
  background: #2F303ACC;
  padding: 27px 0;
}

.main_third--cardtext p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main_third-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* main fourth section */
.main_fourth--section {
  background-color: #F5F4FA;
}

.main_fourth--title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 50px;
}

.main_fourth--cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 94px;
}

.card {
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001F;
  background-color: #FFFFFF;
}

.card img {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.card_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.card_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 28px;
}

.card_icons {
  margin: 0 auto;
  display: flex;
  max-width: 206px;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 42px;

}

.card_icons svg {
  fill: #AFB1B8;
}

/* main fifth section */
.main_fifth--title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.main_fifth--icons {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 94px;
}

.icons {
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px 4px 4px 4px;
  transition: 0.3s;
}

.icons:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
  transition: 0.3s;
  cursor: pointer;
}