@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./Css/reset.css);
@import url(./Css/header.css);
@import url(./Css/footer.css);

/* PORTFOLIO */
header {
    margin-top: none;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.main_first--section {
    margin-top: 94px;
}

.main_conteiner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main_nav {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.main_nav--item {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    padding: 5px 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
    box-sizing: content-box;
    transition: .5s;
}

.main_nav--item:hover {
    transition: .5s;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}